<section>
  <h4>Stay in the loop</h4>
  <p>
    Don't mis an important update - sign up for our newsletter.
  </p>
  <a href="http://eepurl.com/bObmsT">Sign up</a>
</section>

{% if site.categories.news %}
<section class="news-feed">
  <h4>News</h4>
    {% for post in site.categories.news limit:5 %}
    <div>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
      <span>{{ post.excerpt | truncate: 150 | markdownify }}</span>
    </div>
    {% endfor %}
</section>
{% endif %}
