<nav class="footer-nav">
  <ul>
    {% for item in site.data.secondary-menu %}
    <li{% if current_page.last == item.slug %} class='active'{% endif %}>
      <a href="{{ site.baseurl }}/{{ item.slug }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>

<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-logo" href="http://openbudgets.eu/">
      <img src="{{ "/img/openbudgets-logo-white.png" | prepend: site.baseurl }}" alt="OpenBudgets.eu">
    </a>
    <ul class="footer-primary-links">
      <li><a href="https://okfn.org/about/">About</a></li>
    </ul>

    <div class="footer-secondary-links">

      <ul class="footer-social">
        {% if site.facebook_username %}
        <li>
            <a href="https://facebook.com/{{ site.facebook_username }}" class="facebook" rel="external">
              Facebook
            </a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter" rel="external">
            Twitter
          </a>
        </li>
        {% endif %}
        {% if site.linkedin %}
        <li>
          <a href="https://www.linkedin.com/{{ site.linkedin }}" class="linkedin" rel="external">
            LinkedIn
          </a>
        </li>
        {% endif %}
        {% if site.github_link %}
        <li>
          <a href="https://github.com/{{ site.github_link }}" class="github" rel="external">
            GitHub
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <hr>
    <p>OpenBudget.eu has received funding from the European Union’s <a href="https://ec.europa.eu/programmes/horizon2020/">H2020 EU research and innovation programme</a> under grant agreement <a href="http://cordis.europa.eu/project/rcn/194394_en.html">No 645833</a>.</p>
  </div>
</footer>
