<header class="site-header">
    <div class="wrapper">
        <a href="{{ "/" | prepend: site.baseurl }}" class="logo">
            <img src="{{ "/img/openbudgets-logo-white.png" | prepend: site.baseurl }}" alt="OpenBudgets.eu">
        </a>
        {% include social-links.html %}
        {% assign current_page = page.url | downcase | split: '/' %}
		<nav>
			<ul>
                {% for item in site.data.menu %}
                {% if item.subitems != null %}
                <li class="{% if current_page.last == item.slug %} active{% endif %}{% if item.subitems != null %} has-children{% endif %}">
                <a href="{{ site.baseurl }}/{{ item.slug }}/">{{ item.title }}</a>
                <ul>
                    {% for subcategory in item.subitems %}
                    <li{% if current_page.last == subcategory.subslug %} class='active'{% endif %}><a href="{{ site.baseurl }}/{{ item.slug }}/{{ subcategory.subslug }}/">{{ subcategory.subtitle }}</a></li>
                    {% endfor %}
                </ul>

                {% else %}
                <li{% if current_page.last == item.slug %} class='active'{% endif %}>
                    <a href="{{ site.baseurl }}/{{ item.slug }}">{{ item.title }}</a>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
		</nav>
    </div>
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
</header>
