<ul class="cd-navigation">
    <li class="item-has-children">
        <a href="#0">About</a>
        <ul class="sub-menu">
            <li><a href="#0">Objectives</a></li>
            <li><a href="#0">Technical structure</a></li>
            <li><a href="#0">Work Packages</a></li>
            <li><a href="#0">Deliverables</a></li>
            <li><a href="#0">Partners</a></li>
        </ul>
    </li> <!-- item-has-children -->

    <li><a href="#0">Resources</a></li>

    <li><a href="{{ "/events/" | prepend: site.baseurl }}">Events</a></li>

    <li><a href="#0">Blog</a></li>

    <li class="item-has-children">
        <a href="#0">Press / Media</a>
        <ul class="sub-menu">
            <li><a href="#0">Dissemination Materials</a></li>
            <li><a href="#0">Press releases</a></li>
        </ul>
    </li> <!-- item-has-children -->

    <li><a href="#0">Community</a></li>
    
    <li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>

</ul> <!-- cd-navigation -->

