<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-logo" href="#">
      <img src="../img/openbudgets-logo-white.png" height="32"><title>OpenBugdets.eu</title></img>
    </a>
    <ul class="footer-primary-links">
      <li><a href="https://okfn.org/about/">About</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
        <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
        <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
        <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
      </ul>

      <ul class="footer-social">
        <!--<li><a href="https://facebook.com/OKFNetwork">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li> -->
        <li> 
          <a href="https://twitter.com/openbudgetseu">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>
    
    <hr>
<p>OpenBudget.eu has received funding from the European Union’s <a href="#">H2020 EU research and innovation programme</a> under grant agreement <a href="http://cordis.europa.eu/project/rcn/194394_en.html">No 645833</a>.</p>

  </div>
</footer>
