<article>
    <div class="date"><span>{{ post.date | date: "%-d %b" }}</span> <span class="year">{{ post.date | date: "%Y" }}</span></div>

    <div class="text">
        {% if post.categories %}
        <ul class="categories">
        {% for cat in post.categories %}
            <li>{{ cat }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <max-width: 80%>;
        <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="content">
        {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
    </div>

    {% if post.image %}
    <a class="image" href="{{ site.baseurl }}{{ post.url }}">
        <span style="background-image:url( {{ site.baseurl }}/img/{{ post.image }} )">
        </span>
    </a>
    {% endif %}
</article>
