<section class="users">
  <div>
    <h2>Let’s get started!</h2>
    <span class="item">
      <a href="{{ site.baseurl }}/tools/#filter=.audience-administration"><img src="{{ site.baseurl }}/img/tree-map.svg" alt="" /></a>
      <h3><a href="{{ site.baseurl }}/tools/#filter=.audience-administration">Are you a government agency?</a></h3>
      <p>
        Upload, package, and visualise your dataset, and embedd it on your website using the Microsite. Present your progress using Key Performance Indicators or learn about how to implement participatory budgeting.
      </p>
      <a class="more" href="{{ site.baseurl }}/tools/#filter=.audience-administration">More</a>
    </span>
    <span class="item">
      <a href="{{ site.baseurl }}/tools/#filter=.audience-data-wrangling"><img src="{{ site.baseurl }}/img/chart.svg" alt="" /></a>
      <h3><a href="{{ site.baseurl }}/tools/#filter=.audience-data-wrangling">Are you a data wrangler?</a></h3>
      <p>
        Apply a wide range of tools to your fiscal dataset and exlpore new ways to gain insight. Feel Confident? Build you own pipelines and explore the depths of your linked dataset.
      </p>
      <a class="more" href="{{ site.baseurl }}/tools/#filter=.audience-data-wrangling">More</a>
    </span>
    <span class="item">
      <a href="{{ site.baseurl }}/tools/#filter=.audience-journalism"><img src="{{ site.baseurl }}/img/find.svg" alt="" /></a>
      <h3><a href="{{ site.baseurl }}/tools/#filter=.audience-journalism">Are you a journalist?</a></h3>
      <p>
        View our catalogue of journalistic investigations into the realm of fiscal data, discover a series of tools made to illustrate corruption techniques, and test your guessing skills in a gamified environment.
      </p>
      <a class="more" href="{{ site.baseurl }}/tools/#filter=.audience-journalism">More</a>
    </span>
  </div>
</section>
