.blog {  
    .post-list {
        @include outer-container;
        margin-top: $base-spacing;
        
        & > article {
            padding: $base-spacing;
            border-bottom: 1px solid $light-gray;
        }
    }
    .pagination {
        @include outer-container;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
}
