.events {
    .wrapper {
        margin-bottom: $base-spacing;

        section,
        .event-list > li {
            & > a {
                @extend button;
            }
        }

        section {

            h2 {
                display: inline-block;
                font-size: 1em;
                text-transform: uppercase;
                border-bottom: solid 1px $base-font-color;
                font-weight: 600;
            }

            h3 {
                a {
                    color: $base-font-color;
                }
            }

            .date {
              font-style: italic;
            }

            &.featured {
                background-color: $light-gray;
                padding: $base-spacing;
                margin-top: $base-spacing;
                margin-bottom: $base-spacing;
            }

            &:not(.featured) {
                h2 {
                    margin: $base-spacing $base-spacing 0 $base-spacing;
                }
            }
        }

        .event-list {
            & > li {
                border-bottom: solid 1px $light-gray;
                padding: $base-spacing;
            }
        }
    }
}
