$footer-background: $dark-gray;
$footer-color: white;
$footer-link-color: transparentize($footer-color, .4);
$footer-disclaimer-color: transparentize($footer-color, .6);

html {
    background: $footer-background;
}
/* footer */
.site-footer {
  background: $footer-background;
  width: 100%;
  position:relative;
  z-index:99;
  color:$footer-color;
  
  .wrapper {
    padding: $base-spacing;
    @include clearfix;

    .footer-logo {
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top:-4px;
  
      @include media($large-screen) {
        float: left;
        margin-bottom: 0;
      }
    }
  
    .footer-logo img {
      height: 2em;
    } 
  
    ul {
      margin-bottom: 1em;
      @include media($large-screen) {
        float: left;
        margin-left: 1em;
        margin-bottom: 0;
      }
    }
  
    ul li {
      padding-right: 1em;
  
      @include media($large-screen) {
        display: inline;
        text-align: left;
      }
    }
  
    a {
      color: $footer-link-color;
  
      &:hover {
        color: transparentize($footer-color, 0);
      }
      
      &[rel~="external"]:after {
        display:none;
      }
    }
    
    svg {
        fill: currentColor;
    }
    
    .footer-primary-links {
      display:none;
    }
  
    .footer-secondary-links {
      @include media($large-screen) {
        float: right;
      }
  
      li {
        font-size: .8em;
        font-weight: 400;
      }
  
      ul.footer-social {
        margin-top: 1em;
  
        @include media($large-screen) {
          float: right;
          margin-top: 0;
        }
  
        li {
          float: left;
          font-size: 1em;
          padding-right: .7em;
  
          &:last-child {
            padding-right: 0;
          }
        }
  
        img {
          opacity: .7;
          height: 1.6em;
          padding: 1px;
  
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  
  hr {
    @include span-columns(12);
    border-color:$footer-disclaimer-color;
  }
  
  p {
    @include span-columns(12);
    font-size:rem(12);
    color:$footer-disclaimer-color;
  }
  
  .attribution {
    display:none;
    
    @include media($large-screen) {
      display:inline;
    }
  }
}
