body {
    background-color: #fff;
}

hr {
  border-bottom: $base-border;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.wrapper {
    @include outer-container;

    & > article,
    & > aside {
      padding: $base-spacing;
      margin-top: $base-spacing / 2;
    }

    &.aside {
      @media (min-width: $large-screen) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUCB1jWL1qxX8ABv4C/R7sPqQAAAAASUVORK5CYII=);
        background-repeat: repeat-y;
        background-position: 67%;
      }

      & > article {
        @media (min-width: $large-screen) {
          @include span-columns(8);
        }
        @media (min-width: $max-width) {
          padding-right: $base-spacing*2;
        }
      }
      & > aside {
        @media (min-width: $large-screen) {
          @include span-columns(4);
        }
        @media (min-width: $max-width) {
          padding-left: $base-spacing*2;
        }

        & > section {
          padding-bottom: $base-spacing;

          & > a {
            @extend button;
          }

          &.news-feed {
            div {
              padding-bottom: $small-spacing;
              border-bottom: dotted 1px rgba($medium-gray, 0.5);

              h5 {
                font-size: 1.1em;
                margin-bottom: $small-spacing/2;
              }

              span {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
}

.banner {
    background-color: $primary;
    color: #fff;
    line-height: 1.2;

    a {
      color: inherit;
    }

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }

    .wrapper {
        padding: $base-spacing;

        @media (min-width: $medium-screen) {
            padding: $base-spacing * 2 $base-spacing;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}
