body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
strong,
b {
    font-weight: 600;

    a {
        color: $secondary;
    }
}

h1 {
    font-size: rem(26);

    @media (min-width: $medium-screen) {
        font-size: rem(30);
    }
}

h2 {
    font-size: rem(24);

    @media (min-width: $medium-screen) {
        font-size: rem(26);
    }
}

h3 {
    font-size: rem(22);

    @media (min-width: $medium-screen) {
        font-size: rem(24);
    }
}

h4 {
    font-size: rem(20);

    @media (min-width: $medium-screen) {
        font-size: rem(22);
    }
}

h5 {
    font-size: rem(18);

    @media (min-width: $medium-screen) {
        font-size: rem(20);
    }
}

h6 {
    font-size: rem(16);

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }
}

.wrapper {
    @include outer-container;

    & > article,
    & > aside {
      padding: $base-spacing;
      margin-top: $base-spacing / 2;
    }

    &.aside {
      & > article {
        @media (min-width: $medium-screen) {
          @include span-columns(9);
        }
      }
      & > aside {
        @media (min-width: $medium-screen) {
          @include span-columns(3);
        }
      }
    }
}

.banner {
    background-color: $primary;
    color: #fff;
    line-height: 1.2;

    a {
      color: inherit;
    }

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }

    .wrapper {
        padding: $base-spacing;

        @media (min-width: $medium-screen) {
            padding: $base-spacing * 2 $base-spacing;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
