body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
strong,
b {
    font-weight: 600;

    a {
        color: $secondary;
    }
}

h1 {
    font-size: rem(26);

    @media (min-width: $medium-screen) {
        font-size: rem(30);
    }
}

h2 {
    font-size: rem(24);

    @media (min-width: $medium-screen) {
        font-size: rem(26);
    }
}

h3 {
    font-size: rem(22);

    @media (min-width: $medium-screen) {
        font-size: rem(24);
    }
}

h4 {
    font-size: rem(20);

    @media (min-width: $medium-screen) {
        font-size: rem(22);
    }
}

h5 {
    font-size: rem(18);

    @media (min-width: $medium-screen) {
        font-size: rem(20);
    }
}

h6 {
    font-size: rem(16);

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }
}

.wrapper {
    @include outer-container;

    & > article,
    & > aside {
      padding: $base-spacing;
      margin-top: $base-spacing / 2;
    }

    &.aside {
      @media (min-width: $large-screen) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUCB1jWL1qxX8ABv4C/R7sPqQAAAAASUVORK5CYII=);
        background-repeat: repeat-y;
        background-position: 67%;
      }

      & > article {
        @media (min-width: $large-screen) {
          @include span-columns(8);
        }
        @media (min-width: $max-width) {
          padding-right: $base-spacing*2;
        }
      }
      & > aside {
        @media (min-width: $large-screen) {
          @include span-columns(4);
        }
        @media (min-width: $max-width) {
          padding-left: $base-spacing*2;
        }
      }
    }
}

.banner {
    background-color: $primary;
    color: #fff;
    line-height: 1.2;

    a {
      color: inherit;
    }

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }

    .wrapper {
        padding: $base-spacing;

        @media (min-width: $medium-screen) {
            padding: $base-spacing * 2 $base-spacing;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}
