.site-header {
    background-color: #fff;

    .wrapper {
        padding: 0 $base-spacing;
    }

    .logo {
        display: block;
        float: left;
        padding-top: 10px;

        @include MQ(M) {
            padding-top: 17px;
        }
        @include MQ(L) {
            padding-top: 28px;
        }

        img {
            display: block;
            height: 36px;

            @media (min-width: $large-screen) {
                height: 40px;
            }
        }

    }

    .socials {
        float: right;
        display: none;
        padding-top: 32px;

        @media (min-width: $large-screen) {
            display: block;
        }

        a {
            margin: 0;
        }
    }

    nav {
        display: none;
        padding-top: 32px;

        @media (min-width: $large-screen) {
            display: block;
        }
        & > ul {
            list-style:none;
            position:relative;
            float:right;
            margin:0;
            padding:0;
            font-size: 0.9em;

            a {
                display:block;
                color:$base-font-color;
                text-decoration:none;
                line-height:28px;
                padding:0 $small-spacing;
            }

            li {
                position:relative;
                float:left;
                margin:0;
                padding:0;

                &:not(.active):hover {

                }
            }

            & > li {
                margin-left: 3px;

                & > a {
                    border: solid 2px #fff;
                    border-radius: $nav-radius;
                }

                &.active {
                    & > a {
                        border-color: $primary;
                    }
                }

                &:not(.active):hover {
                    & > a {
                        border-color: $light-gray;
                    }
                }

                &.has-children {
                  position: relative;

                  & > a {
                    border-radius: $nav-radius $nav-radius 0 0;
                  }

                  &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    background-color: $dropdown-bg;
                    position: absolute;
                    left: 2px;
                    right: 2px;
                    bottom: 0;
                    z-index: 2;
                  }
                }
            }

            ul {
                display:none;
                position:absolute;
                top:100%;
                left:0;
                background-color: $dropdown-bg;
                padding:0.3em 0 0 0;
                border: solid 2px $light-gray;
                border-radius: 0 $nav-radius $nav-radius $nav-radius;
                margin-top: -2px;
                z-index: 1;

                li {
                    float:none;
                    width:$column * 3;

                    &.active {
                        background:$light-gray;

                        & > a {
                            color: inherit;
                        }
                    }
                }

                a {
                  padding-top: 0.2em;
                  padding-bottom: 0.2em;

                    &:hover {
                        background-color: $light-gray;
                    }
                }

                ul {
                    top:0;
                    left:100%;
                }
            }

            li:hover > ul {
                display:block
            }
        }
    }
    @media (min-width: $large-screen) {
        #cd-menu-trigger {
            display: none;
        }
    }
}
