.home {
    .banner {
      background-color: $primary;
      color: #fff;

      .wrapper {
        padding: $base-spacing;

        @media (min-width: $medium-screen) {
          padding: $base-spacing * 2 $base-spacing;
        }
      }
        span {
            @media (min-width: $medium-screen) {
                @include span-columns(8);
                position: relative;
                padding-right: $base-spacing*2;

                &:before {
                    width: 388px;
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: - $base-spacing * 2;
                    bottom: - $base-spacing * 2;
                    background-image: url(../img/banner-image-transparent.png);
                    background-size: 388px auto;
                    background-position: 0 30px;
                    background-repeat: no-repeat;
                }

                :first-child {
                  margin-top: 0;
                }
            }
        }
    }

    article {
        & > section {
            margin-bottom: $base-spacing;

            & > a {
                @extend button;
                margin-bottom: $base-spacing;
            }

            &.blog-posts {
              .author {
                font-size: 0.9rem;
              }
            }

            &.video {
              padding-bottom: $base-spacing;
            }

            h3 {
              text-transform: uppercase;
            }
        }
    }
}
