.posts {
    .post-list {
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;

        & > article {
            padding: $base-spacing;
            border-bottom: 1px solid $light-gray;
            @include outer-container;

            .date {
                font-size: 0.8em;
                color: $medium-gray;

                @media (min-width: $medium-screen) {
                    @include span-columns(1);
                    padding-top: $small-spacing / 2;

                    span {
                        display: block;
                        background-color: $base-background-color;
                    }
                }
            }

            .text {
                @media (min-width: $medium-screen) {
                    @include span-columns(8);
                }

                .title {
                    a {
                        color: $base-font-color;
                    }
                }

                .categories {
                  padding: 0;

                    li {
                        display: inline-block;
                        font-size: 0.75em;
                        text-transform: uppercase;
                        border-bottom: solid 1px $base-font-color;
                        margin-right: $small-spacing;
                        font-weight: 600;
                    }
                }

                p {
                  margin: 0;
                }

                & > a {
                    @extend button;
                    margin-top: $small-spacing;
                }
            }

            .image {
                display: none;

                @media (min-width: $medium-screen) {
                    @include span-columns(3);
                    padding: 0 0 $base-spacing $base-spacing;

                    span {
                        display: block;
                        height: 0;
                        padding-top: 100%;
                        background-size: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .pagination {
        @include outer-container;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }

}
.blog-table td{

        padding: 0.25rem 0px;
        font-size: 0.90em;
        background-color: $light-gray;
    }
