.posts {  
    .post-list {
        @include outer-container;
        margin-top: $base-spacing;
        
        & > article {
            padding: $base-spacing;
            border-bottom: 1px solid $light-gray;
            
            .date {
                font-size: 0.8em;
                color: $medium-gray;
            }
            
            .categories {
                li {
                    display: inline-block;
                    background-color: $light-gray;
                    font-size: 0.8em;
                    line-height: 1;
                    padding: 4px;
                    text-transform: capitalize;
                    color: $medium-gray;
                }
            }
        }
    }
    .pagination {
        @include outer-container;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
    }
}
