// colors

$background: #fff;

$color-1: $primary;
$color-2: #333;
$color-3: $light-gray;


// z-index

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height

$header-S: 50px;
$header-M: 70px;
$header-L: 125px;
