{% assign current_page = page.url | downcase | split: '/' %}
<!doctype html>
<html class="no-js" lang="">
    {% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        <main class="cd-main-content">
            {{ content }}

            {% include footer.html %}
        </main>
        <nav id="cd-lateral-nav">
            <ul class="cd-navigation">
                {% for item in site.data.menu %}
                {% if item.subitems != null %}
                <li class="item-has-children">
                <a href="{{ site.baseurl }}/{{ item.slug }}/">{{ item.title }}</a>
                <ul class="sub-menu">
                    {% for subcategory in item.subitems %}
                    <li><a href="{{ site.baseurl }}/{{ item.slug }}/{{ subcategory.subslug }}/">{{ subcategory.subtitle }}</a></li>
                    {% endfor %}
                </ul>

                {% else %}
                <li>
                    <a href="{{ site.baseurl }}/{{ item.slug }}">{{ item.title }}</a>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% include social-links.html %}
        </nav>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="{{ "/js/plugins.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

        {% if page.aside == true and site.twitter_feed %}
        <script src="{{ "/js/vendor/twitterFetcher_min.js" | prepend: site.baseurl }}"></script>
        <script>
          var configProfile = {
            "id": '{{ site.twitter_feed }}',
            "domId": 'twitter',
            "maxTweets": 5,
            "enableLinks": true,
            "showUser": true,
            "showTime": false,
            "showImages": false,
            "lang": 'en'
          };
          twitterFetcher.fetch(configProfile);
        </script>
        {% endif %}

        {% if site.googleanalytics %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.googleanalytics }}','auto');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>
