<!doctype html>
<html class="no-js" lang="">
    {% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% include header.html %}
        <main class="cd-main-content">
            {{ content }}

            {% include footer.html %}
        </main>
        <nav id="cd-lateral-nav">
            <ul class="cd-navigation">
                {% for item in site.data.menu %}
                {% if item.subitems != null %}
                <li class="item-has-children">
                <a href="{{ site.baseurl }}/{{ item.slug }}/">{{ item.title }}</a>
                <ul class="sub-menu">
                    {% for subcategory in item.subitems %}
                    <li><a href="{{ site.baseurl }}/{{ item.slug }}/{{ subcategory.subslug }}/">{{ subcategory.subtitle }}</a></li>
                    {% endfor %}
                </ul>
                    
                {% else %}
                <li>
                    <a href="{{ site.baseurl }}/{{ item.slug }}">{{ item.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% include social-links.html %}
        </nav>
    </body>
</html>