<!doctype html>
<html class="no-js" lang="">
    {% include head.html %}
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% include header.html %}
        <main class="cd-main-content">
            {{ content }}

            {% include footer.html %}
        </main>
        <nav id="cd-lateral-nav">
            {% include menu.html %}
            {% include social-links.html %}
        </nav>
    </body>
</html>