---
layout: default
aside: true
---
{% capture future_events %}{% for event in site.data.events %}{% if event.status == 'future' %}<h3><a href="{{ event.link }}">{{ event.title }}</a></h3><span>{{ event.description | truncate: 270 | markdownify }}</span><a href="{{ event.link }}">Join us!</a>@@{% endif %}{% endfor %}{% endcapture %}
{% assign future_e = future_events | split:"@@" %}

{% capture featured_events %}{% for event in site.data.events %}{% if event.status == 'featured' %}<h3><a href="{{ event.link }}">{{ event.title }}</a></h3><span>{{ event.description | truncate: 270 | markdownify }}</span><a href="{{ event.link }}">Join us!</a>@@{% endif %}{% endfor %}{% endcapture %}
{% assign featured_e = featured_events | split:"@@" %}


<div class="home">
    <div class="banner">
        <div class="wrapper">
            <span>
                <h1>{{ site.description }}</h1>
            </span>
        </div>
    </div>
    <div class="{% if layout.aside == true %}aside {% endif %}wrapper">
      <article>
          <section>
              <h2>Featured Blog Post</h2>
          {% for post in site.categories.post limit:1  %}
              <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
              <span>{{ post.excerpt | truncate: 270 | markdownify }}</span>
              <a href="{{ site.baseurl }}{{ post.url }}">Full Post</a>
          {% endfor %}
          </section>
          <section>
              <h2>Resources</h2>
          {% for post in site.categories.resources limit:1  %}
              <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
              <i><span>{{ post.excerpt | truncate: 270 | markdownify }}</span></i>
              <a href="{{ site.baseurl }}{{ post.url }}">View Resource</a>
          {% endfor %}
          </section>
          <section>
              <h2>About the project</h2>
              <h3><a href="#">Objectives</a></h3>
              <span>
                  {{ content | markdownify }}
              <br/>
              </span>
              <a href="{{ site.baseurl }}/about/objectives/">More</a>
          </section>
      </article>
      {% if layout.aside == true %}
      <aside>
        <a href="http://eepurl.com/bObmsT">Sign up for the OpenBudgets Newsletter!</a>
      </aside>
      {% endif %}
    </div>

</div>
