---
layout: default
---
{% capture future_events %}{% for event in site.data.events %}{% if event.status == 'future' %}<h3><a href="{{ event.link }}">{{ event.title }}</a></h3><span>{{ event.description | truncate: 270 | markdownify }}</span><a href="{{ event.link }}">Join us!</a>@@{% endif %}{% endfor %}{% endcapture %}
{% assign future_e = future_events | split:"@@" %}

{% capture featured_events %}{% for event in site.data.events %}{% if event.status == 'featured' %}<h3><a href="{{ event.link }}">{{ event.title }}</a></h3><span>{{ event.description | truncate: 270 | markdownify }}</span><a href="{{ event.link }}">Join us!</a>@@{% endif %}{% endfor %}{% endcapture %}
{% assign featured_e = featured_events | split:"@@" %}

<div class="home">
    <div class="banner">
        <div class="wrapper">
            <span>
                <h1>{{ site.description }}</h1>
            </span>
        </div>
    </div>
    <div class="{% if page.aside == true %}aside {% endif %}wrapper">
      <article>

        <section>
          {{ content | markdownify }}
          <a href="{{ site.baseurl }}/about/objectives/">Our objectives</a>
        </section>

        {% if page.video %}
        <section class="video">
          <div class="video-wrapper">
            <iframe src="https://www.youtube-nocookie.com/embed/{{ page.video }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </section>
        {% endif %}

        <section class="blog-posts">
          <h2>Recently published on the blog</h2>
          {% for post in site.categories.post limit:2  %}
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            {% if post.author %}
            <p class="author">
              A post by {{ post.author }}{% if post.author_affiliation %} of <em>{% if post.author_affiliation_link %}<a href="{{ post.author_affiliation_link }}">{% endif %}{{ post.author_affiliation }}{% if post.author_affiliation_link %}</a>{% endif %}</em>{% endif %}.
            </p>
            {% endif %}
            <span>{{ post.excerpt | truncate: 500 | markdownify }}</span>
            <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
          {% endfor %}
        </section>

      </article>
      {% if page.aside == true %}
      <aside>
        {% include aside.html %}
      </aside>
      {% endif %}
    </div>

</div>
