---
layout: default
---
<div class="home">
  <div class="banner">
    <div class="wrapper">
      <span>
        <h1>{{ site.description }}</h1>
      </span>
    </div>
  </div>

  {% include users.html %}

  <section class="blog-posts">
    <div class="wrapper">
      <h2>Get to know new ways to discover and share fiscal datasets.</h2>
      {% assign postnum = 0 %}
      {% for post in site.categories.post limit:2  %}
      {% assign postnum = postnum | plus: 1 %}
        <article class="post-{{ postnum }}">
          <a class="image" href="{{ site.baseurl }}{{ post.url }}">
            <span style="background-image:url( {{ site.baseurl }}/img/{{ post.image }} )"></span>
          </a>
          <span class="date">{{ post.date | date: "%-d %b" }} {{ post.date | date: "%Y" }}</span>
          <div class="text">
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt | truncate: 140 | markdownify }}
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="about">
    <div class="wrapper">
      <article>
        {{ content | markdownify }}
      </article>
    </div>
  </section>

</div>
