body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $base-spacing 0 $small-spacing 0;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6,
strong,
b {
    font-weight: 600;

    a {
        color: $secondary;
    }
}

h1 {
    font-size: rem(26);

    @media (min-width: $medium-screen) {
        font-size: rem(30);
    }
}

h2 {
    font-size: rem(24);

    @media (min-width: $medium-screen) {
        font-size: rem(26);
    }
}

h3 {
    font-size: rem(22);

    @media (min-width: $medium-screen) {
        font-size: rem(24);
    }
}

h4 {
    font-size: rem(20);

    @media (min-width: $medium-screen) {
        font-size: rem(22);
    }
}

h5 {
    font-size: rem(18);

    @media (min-width: $medium-screen) {
        font-size: rem(20);
    }
}

h6 {
    font-size: rem(16);

    @media (min-width: $medium-screen) {
        font-size: rem(18);
    }
}
