// Typography
$base-font-family: 'Open Sans', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary: #82bf5e;
$secondary: #56ace1;
$dark-gray: #333;
$medium-gray: #585552;
$light-gray: #F7F7F7;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $primary;

// Border
$base-border-color: darken($light-gray, 10%);
$base-border: 2px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow;

// Header
$header-colour: $primary;
$header-text-colour: #fff;

//Nav
$nav-radius: 6px;
$dropdown-bg: #fff;
